{% extends "layout.html" %} {% block title %} About {% endblock %} {% block main
%}
<div class="card p-4" style="width: fit-content">
  <div class="card-body">
    <h1 class="mb-4 fs-2 fw-bolder text-uppercase">
      Expense Tracker – CS50 Final Project
    </h1>
    <h2 class="fs-2">Piotr Grzybowski</h2>

    <p class="fs-5">GitHub: GrzybowskiPiotr</p>
    <p class="fs-5">edX: PG_2510_F7GZ</p>
    <p class="fs-5">City, Country: Ełk, Poland</p>
    <p class="fs-5">Date: 2025-12-25</p>
  </div>
</div>
{% endblock %}
