{% extends "layout.html" %} {% block title %} Edit expense {% endblock %} {%
block main %}
<div class="card p-4" style="width: fit-content">
  <div class="card-body">
    <h1 class="mb-4 fs-6 fw-bolder text-uppercase">Edit expence</h1>
    <form action="/edit/{{ expence_data.id }}" method="post" id="add_expense">
      <div class="mb-3">
        <input
          autocomplete="off"
          autofocus
          class="form-control mx-auto w-auto"
          name="amount"
          placeholder="Amount of expense"
          type="number"
          step="0.01"
          min="0"
          required
          value="{{expence_data.amount}}"
        />
      </div>
      <div class="mb-3">
        <select
          class="form-select form-select-md mb-3"
          name="category"
          required
        >
          <option value="0" disabled>Select Category</option>
          {% for cat in categories %}
          <option value="{{cat.id}}" {{ 'selected' if cat.id ==  expence_data.category_id }}>
            {{ cat.name }}
          </option>
          {% endfor %}
        </select>
      </div>
      <div class="form-floating">
        <textarea
          name="description"
          id="description"
          class="form-control"
          name="description"
          placeholder="Expense description (optional)"
          type="text"
          style="resize: none; min-height: 100px"
        >{{ expence_data.description }}</textarea>
        <label for="description">Decription</label>
      </div>
      <div class="container mt-3">
      <button class="btn btn-primary" id="add_expense" type="submit">
        Save
      </button>
      <a href="/history" class="btn btn-secondary">Cancel</a>
      </div>
    </form>
  </div>
</div>
{% endblock %}
